<ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link" routerLink="/shoppingapp">Shopping App</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/todolist">To-do List</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/album">Album</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/livenews">Live News</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/posts">Posts</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/photos">Photos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/users">Users</a>
    </li>
  </ul>
