<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">


                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Name</th>
                            <th scope="col">Username</th>
                            <th scope="col">Email</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Website</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr  *ngFor="let i of data">
                            <th scope="row">{{i.id}}</th>
                            <td>{{i.name}}</td>
                            <td>{{i.username}}</td>
                            <td>{{i.email}}</td>
                            <td>{{i.phone}}</td>
                            <td>{{i.website}}</td>
                          </tr>
                        </tbody>
                      </table>
        </div>
    </div>
</div>
